{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "@open-wc/eslint-config",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "rules": {
    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["src/*/*.stories.ts", "src/*/*.test.ts"],
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.test.ts"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
